<head>
    <meta charset="utf-8">
    <title>PDS Senior Project Website</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/success.css') }}">
</head>

<body>
    <div class="segment">
        <h1>Hello, {{name}}. Your project is pending approval. Thank you for registering!</h1>
        <h2>Project </h2>
        <h3>Title: {{title}}</h3>
        <h3>Mentor: {{mentor}}</h3>
        <h3>Category: {{category}}</h3>
        <h3>Description: {{description}}</h3>
        <h3>Link: {{link}}</h3>
    </div>
    <form action = "/">
        <button class="blue" type="submit">Return Home</button>
    </form>
</body>